[submodule "Foreign/ArenaAllocator"]
	path = Foreign/ArenaAllocator
	url = git@github.com:TimSevereijns/ArenaAllocator.git
[submodule "Foreign/Stopwatch"]
	path = Foreign/Stopwatch
	url = git@github.com:TimSevereijns/Stopwatch.git
[submodule "Foreign/Tree"]
	path = Foreign/Tree
	url = git@github.com:TimSevereijns/Tree.git
[submodule "Foreign/Blackhole"]
	path = Foreign/Blackhole
	url = https://github.com/3Hren/blackhole.git
