[submodule "ThirdParty/Rapidjson"]
	path = ThirdParty/Rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "ThirdParty/Tree"]
	path = ThirdParty/Tree
	url = https://github.com/TimSevereijns/Tree.git
[submodule "ThirdParty/Stopwatch"]
	path = ThirdParty/Stopwatch
	url = https://github.com/TimSevereijns/Stopwatch.git
[submodule "ThirdParty/Spdlog"]
	path = ThirdParty/Spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ThirdParty/GSL"]
	path = ThirdParty/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "ThirdParty/Trompeloeil"]
	path = ThirdParty/Trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
[submodule "ThirdParty/QDarkStyleSheet"]
	path = ThirdParty/QDarkStyleSheet
	url = https://github.com/ColinDuquesnoy/QDarkStyleSheet.git
