<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>D-Viz</Name>
    <Version>0.3.0</Version>
    <Title>D-Viz</Title>
    <Publisher>Tim Severeijns</Publisher>
    <WizardStyle>Aero</WizardStyle>
    <StartMenuDir>D-Viz</StartMenuDir>
    <TargetDir>@HomeDir@/D-Viz</TargetDir>
</Installer>
